*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.appHeader{

    background-color: #83c5be;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    color: #14213d;
}

.appHeader p{

    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

  
}

.appHeader p a{
    border: none;
    color: #14213d;
    text-decoration: none;

}


