*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Chango', cursive;
    font-family: 'Roboto', sans-serif;
}

.right-container{

    background-color: white;
    padding: 1rem;
    padding-top: 0;
 
}

.right-subContainer{
    
    background-color: #edf6f9;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    
}

.right-subContainer input{

    margin-top: .5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    
}

.tittleRightSubContainer{

    background-color: #83c5be;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #14213d;
}

.textareass{

    margin-top: .5rem;
    padding-left: 1rem;
    color: darkgray;
}

.right-subContainer select{

    margin-top: .5rem;
    padding-left: 1rem;
    color: darkgray;
    font-size: 1.2rem;
}

.right-subContainer button{

    margin-top: .5rem;
    background-color: #83c5be;
    padding: .5rem;
    border: 1px solid #006d77;
    border-radius: 5px;
    font-weight: 600;
    outline:none;
    cursor: pointer;
}

#deletButton{

    background-color: #ef4f4f;
    padding: .2rem;
}