<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/appHeader.css">
    <link rel="stylesheet" href="/css/dasboard.css">
    <link rel="stylesheet" href="/css/right-container.css">
    <link rel="stylesheet" href="/css/dalyInfoContainer.css">

    <title>Main</title>
</head>