<!DOCTYPE html>
<html lang="en">

    {{>head}}

<body>

    {{>header}}
    {{>subheader}}

    <div class="dashBoard">

        <div class="leftContainer">

            <div class="liscontainer">

                <div class="itemContainer">
                    <p class="status">Activo</p>

                    <div class="itemcontainer-sub">
                       
                        
                        <div class="iteamRight">
                            <p>juan domicilios</p>
                            <p>#001</p>
                        </div>
                    </div>
                
                </div>


 

           </div>

        </div>

        <div class="right-container">

            <div class="right-subContainer">

                <div class="tittleRightSubContainer">
                    Añade Domiciliario
                </div>

                <input type="text" name="direccion" id="" placeholder="nombre" >
                <input type="tel" name="nombreUnidad" id="" placeholder="cellular">
                <button >Save</button>
                <button id="deletButton">Delet</button>

            </div>
        
        </div>

    </div>


  
</body>
</html>