<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

    {{>header}}

    {{>subheader}}

    <div class="dashBoard">

        <div class="leftContainer">

            <div class="liscontainer" id="idListHacerPedido">

                <div class="itemContainer">

                    <div class="itemcontainer-sub">


                        <div class="iteamRight">
                            <p>Lucas rey</p>
                            <p>#055</p>
                        </div>
                    </div>

                </div>

                <div class="itemContainer">

                    <div class="itemcontainer-sub">

                        <div class="iteamRight">
                            <p>miguel gonzales</p>
                            <p>#043</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="right-container">

            <div class="right-subContainer">

                <div class="tittleRightSubContainer">
                    Direccion
                </div>
                <input type="text" name="NombreCliente" id="nombreCliente" placeholder="NombreCliente">
                <input type="text" name="direccion" id="direccion" placeholder="direccion">
                <input type="text" name="nombreUnidad" id="nombreUnidad" placeholder="nombre Unidad">
                <input type="text" name="apt" id="apt" placeholder="apt">
                <input type="text" name="NombreCliente" id="pagoEnEfectivo" placeholder="pago en efectivo">
                <input type="text" name="costoDomicilio" id="costoDomicilio" placeholder="costo domicilio">

                <select name="domiciliarios" id="domiciliarios">
                    <option value="todos">todos</option>
                    <option value="jhon">jhon</option>
                    <option value="juan">juan</option>
                    <option value="favian">favian</option>
                    <option value="alejo">alejo</option>
                </select>

                <textarea rows="4" cols="50" class="textareass" id="notasDomicilio" placeholder="notas"></textarea>
                <textarea rows="4" cols="50" class="textareass" id="pedidoText" placeholder="pedido"></textarea>
                <button id="sendButton">Enviar</button>
                <button id="deletButton">Delete</button>

            </div>

        </div>

    </div>
    <script type="module" src="/js/hacerPedido/main.js"></script>

</body>

</html>