*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.appHeader{

    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
}

.appHeader p{

    font-size: 1rem;
    font-weight: 500;
    font-weight: 300;
  
}

.appHeader p:hover{
    
    border-bottom: 1px solid black;
    
}