*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.dashBoard{

    height: 35rem;
    padding: 1rem;
    margin: auto;
    border-radius: 5px;
    display: flex;
}

.leftContainer{

    width: 75%;

}

.right-container{

    width: 25%;
}

.liscontainer{

    width: 100%;
    height: 100%;
    
}

.itemContainer{

    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    background-color: #f1f1f1;


}
.status{

    background-color: green;
    height: 100%;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #f1f1ff;

}

.itemcontainer-sub{

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}

.iteamLeft{

    display: flex;
    background-color: #f1f1f1;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 2px lightgray;
    
}

.iteamRight{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 35%;
    background-color: lightgray;
    padding-left: 1rem;
    padding-right: 1rem;
}

.iteamRight p {

    background-color: #f1f1f1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 300;
}

.statusEntrega{

    background-color: red;
    border-left: 2px solid darkgray;
    
}