*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Chango', cursive;
    font-family: 'Roboto', sans-serif;
}

.header{

    display: flex;
    background-color: #f1f1f1;
    height: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;

}

.logo{

    font-family: 'Chango', cursive;
    font-size: 2rem;

}

.headerLeftContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-bottom: 2px lightgrey;
   
}

.headerLeftContainer p{

    margin-right: 1rem;

}

.headerLeftContainer button{
    
    background-color: lightcoral;
    padding: .5rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
    
}
